* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid var(--vidro);
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
    animation: flutuarperfil 6s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 10px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
    margin-top: 0.5rem;
}

.sobre {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    margin-bottom: 1rem;
}

.sobre-caixa {
    background: var(--vidro);
    max-width: 600px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
    color: var(--claro);
    font-size: 1.2rem;
    line-height: 1.6;
}

.sobre-paragrafo {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
    height: 75%;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 2232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
}

.campo-form:focus {
    outline: none;
    border-color: var(--primaria);
    box-shadow: 0 0 5px var(--primaria);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    color: var(--claro);
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    background: linear-gradient(45deg, var(--secundaria), var(--primaria));
    box-shadow: 0 5px 15px var(--secundaria);
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 20px;
}

.redes-imagem {
    height: 100px;
    width: 100%;
    display: block;

}

@keyframes flutuarperfil {
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/*--Estou colocando isso aqui como um teste de particulas para o fundo do site-->*/

.particula {
    position: absolute;
    bottom: -10px; /* Começa fora da tela por baixo */
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%; /* Deixa redondinho */
    opacity: 0;
    animation: flutuar 5s infinite ease-in;
}

.p1 { left: 20%; animation-duration: 4s; animation-delay: 0s; }
.p2 { left: 50%; animation-duration: 6s; animation-delay: 2s; width: 12px; height: 12px; }
.p3 { left: 80%; animation-duration: 5s; animation-delay: 1s; width: 5px; height: 5px; }

@keyframes flutuar {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(0.5); /* Sobe a tela inteira */
        opacity: 0;
    }
}